@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --azul: #4786B7;
    --cinza: #DEE2ED;
}

.mobile-menu{
    display: none;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* header */
header{
    background-color: var(--azul);
    font-family: 'Patua One';
}

.logo img{
    width: 80px;
    padding: 10px 0;
}

.wraper-ul{
    margin-top: 150px;
}

#menu-d{
    position: absolute;
    right: -350px;
    top: 40px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding: 5px 0;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
}


nav ul li a:hover{
    text-decoration: underline 2px;
    transform: scale(1.1);
    display: inline-block;
}

/* fim do header */

#login{
    max-width:  944px;
    width: 100%;
    height: 600px;
    background: #FFF;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 200px auto;
    border-radius: 15px;
    display:flex;
    flex-wrap: wrap;
    
}

.card{
    background-color: #4786B7;
    width: 30%;
    border-radius: 5px;
    height:600px;
    font-family:  'Poppins', sans-serif;
    color: #FFF;

}
.card h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    font-size: 30px;
    padding: 0 2%;

}

.dog-cat{
    margin-top: 10px;
    text-align: center;
}

.form{
    padding: 90px 2%;
    align-items: center;
    width: 70%;
}

.texto-inicial{
    color:#006BC1 ;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif ;

}
.campos{
    padding-top: 30px;
}
.inputs{
    width: 85%;
    background:#D3E1ED;
    border-radius: 40px; 
    margin: 15px auto;
    
}

.inputs input{
    background:transparent;
    border: none;
    padding: 15px 0;
    outline: 0;
    padding-left: 12px;
    width: 80%;



}
.inputs:hover{
    border: 1px solid #006BC1;
    width: 85%;
    border-radius: 40px;

}
.inputs input::placeholder{
    color: #767676;
}
 .img{
    background:#D3E1ED;
    width: 15px;
    margin-left: 30px;
    color: #767676;
    position: relative;
    top: 1px;
 }
 #senha{
    position: relative;
    top:-1px ;
 }

 .esqueci-senha{
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;
    color:#006BC1;
    text-align: right;
 }
 .campos a{
    margin-bottom: 20px;
    font-size: 13px;
    color:#006BC1;
    transition: all linear 160ms;
    margin-right: 50px;

    
}
 .btn {
    margin: auto;
    display: block;
    width: 229px;
    font-family:'Poppins', sans-serif ;
    height: 48px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 30px;
    color:#FFF;
    background:#006BC1;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }

  .btn:hover {
    background-color:transparent;
    color:#006BC1;
  }

  .registro{
    font-family: 'Poppins', sans-serif ;
    margin: 20px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
   

    
  }
  .registro a{
    padding-left:5px;
    color: #006BC1;
    text-decoration:none;

  }
 
  @media  screen and (max-width:768px)  {

    #login{
        height: 100% ;
    }

    .card{
        width: 100%;
        height: 15%;
    }

    .form{
        width: 100%;
    }

    .dog-cat{
        margin-bottom: 14px;
    }
    
    .card h1{
        margin-top: 62px;
    }
    
  }






  

   



  
