@media screen and (max-width: 768px){
    .mobile-menu{
        display: block;
    }

    .mobile-menu ul{
        width: 60%;
        background-color: #4786B7;
        top: 0;
        right: -446px;
        text-align: center;
        height: 100vh;
        z-index: 1;
        position: fixed;
    }

    .mobile-menu ul li{
        display: block;
        width: 100%;
    }

    .mobile-menu ul li a{
        color: white;
        display: block;
        font-size: 20px;
        padding: 10px 0;
        margin: 0;
        transition: 0.5s;
        text-align: center;
    }

    .mobile-menu ul li a:hover{
        text-decoration: underline 2px;

    }

    .mobile-menu i{
        position: relative;
        font-size: 30px;
        left: -20px;
        cursor: pointer;
        color: white;
    }


    .desktop-menu{
        display: none;
    }

    .banner .container{
        text-align: center;
    }

    .banner .container img{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .banner .container p{
        width: 100%;
    }
    
      .card-sobre{
        width: 100%;
        margin-bottom: 20px;
      }
    

    
}

@media screen and (max-width: 1024px){
    .sobre-localizacao > .container{
        display: flex;
        flex-wrap: wrap;
      }
    
    
      .sobre-localizacao .sobre{
        width: 100%;
      }
    
      .sobre-localizacao .localizacao{
        width: 100%;
        margin-top: 50px;
      }

      .mapa iframe{
        width: 100%;
      }

    .slide {
        width: 100%; /* Cada imagem ocupará 100% da largura do slide-group */
    }
    
}